<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
   </head>
<body>
  <%- include("../views/header"); %> 
  <%- include("../views/toolbar"); %> 
  <section class="home-section">
    <!-- <div class="text">Buoy Viewer</div> -->
    <div class="title-body-content">
      <h2>About us</h2>
    </div>
    <div class="body-content">
      <div class="text">
        <span>
          We are Marcos Busto Suárez and Carlos Javier de la Fuente Rodríguez and we are studying the degree in engineering of geospatial information technologies,
           at the Polytechnic University of Madrid. Our objective when carrying out this project is to facilitate the scientific study of marine waters.
           Being our first project of these characteristics, we understand that it will have many failures, so we would appreciate any recommendations you can provide,
           both the scientific community and web developers through the 'Contact us' section.
           Thanks for your support.
        </span>
      </div>
      <div class="image"></div>
      <div id="location" class="location"></div>
    </div>
  </section>
</body>
</html>
<script src="/js/main.js"></script>
<script src="/js/location.js"></script>