<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/analyse.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://unpkg.com/@mongodb-js/charts-embed-dom@beta"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>Analyse</title>
    <style>
    #chart1 {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }

    #chart2 {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }

    #chart3 {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }

    #chart4 {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }
    
    #chart5 {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
    <%- include("../views/header"); %> 
    <%- include("../views/toolbar"); %>
    <section class="home-section">
        <!-- <div class="text">Buoy Viewer</div> -->
      <button id="Refresh">Refresh</button>
      Cruise:
      <select name="cruise" id="cruise">
      </select>
      <div class="representation">
        <div id="chart1"></div>
        <div id="chart2"></div>
        <div id="chart3"></div>
        <div id="chart4"></div>
        <div id="chart5"></div>
        <div id="chart6"></div> 
        <!--
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-mongodb-gtywi/embed/charts?id=7f535ee7-2074-4350-9f94-237277b94391&theme=light"></iframe>
        -->
        <script>
          const sdk1 = new ChartsEmbedSDK({
              baseUrl: 'https://charts.mongodb.com/charts-project-0-dvilj'
          });

          const chart1 = sdk1.createChart({ chartId: '63badecc-fc32-4c75-861b-427c592c698d' });
          chart1.render(document.getElementById('chart1'));

          const sdk2 = new ChartsEmbedSDK({
              baseUrl: 'https://charts.mongodb.com/charts-project-0-dvilj'
          });

          const chart2 = sdk2.createChart({ chartId: '63badeec-27ef-4133-847b-df6e0f0c21d1' });
          chart2.render(document.getElementById('chart2'));

          const sdk3 = new ChartsEmbedSDK({
              baseUrl: 'https://charts.mongodb.com/charts-project-0-dvilj'
          });

          const chart3 = sdk3.createChart({ chartId: '63bae083-afae-4d0e-8746-43218a1ced6b' });
          chart3.render(document.getElementById('chart3'));

          const sdk4 = new ChartsEmbedSDK({
              baseUrl: 'https://charts.mongodb.com/charts-project-0-dvilj'
          });

          const chart4 = sdk4.createChart({ chartId: '63bae0ac-fc32-472d-8315-427c592dacca' });
          chart4.render(document.getElementById('chart4'));

          const sdk5 = new ChartsEmbedSDK({
              baseUrl: 'https://charts.mongodb.com/charts-project-0-dvilj'
          });

          const chart5 = sdk5.createChart({ chartId: '63c308ef-2549-47e5-8109-cbc2ada8c84f' });
          chart5.render(document.getElementById('chart5'));

          const sdk6 = new ChartsEmbedSDK({
              baseUrl: 'https://charts.mongodb.com/charts-project-0-dvilj'
          });

          const chart6 = sdk6.createChart({ chartId: '63c2fb22-2549-4de9-841b-cbc2ad9e4947' });
          chart6.render(document.getElementById('chart6'));

          document.getElementById("Refresh").addEventListener('click', () => {
              chart1.refresh();
              chart2.refresh();
              chart3.refresh();
              chart4.refresh();
              chart5.refresh();
              chart6.refresh();
          });

          $(document).ready(function() {
            const temp = [
              {
                "id": 0,
                "cruise": 'All'
              },
              {
                "id": 7,
                "cruise": 7
              },
              {
                "id": 12,
                "cruise": 12
              },
              {
                "id": 16,
                "cruise": 16
              },
              {
                "id": 17,
                "cruise": 17
              },
              {
                "id": 18,
                "cruise": 18
              },
              {
                "id": 19,
                "cruise": 19
              },
              {
                "id": 20,
                "cruise": 20
              },
              {
                "id": 24,
                "cruise": 24
              },
              {
                "id": 25,
                "cruise": 25
              },
              {
                "id": 26,
                "cruise": 26
              },
              {
                "id": 28,
                "cruise": 28
              },
              {
                "id": 36,
                "cruise": 36
              },
              {
                "id": 39,
                "cruise": 39
              },
              {
                "id": 41,
                "cruise": 41
              },
              {
                "id": 42,
                "cruise": 42
              },
              {
                "id": 44,
                "cruise": 44
              },
              {
                "id": 46,
                "cruise": 46
              },
              {
                "id": 47,
                "cruise": 47
              },
              {
                "id": 49,
                "cruise": 49
              },
              {
                "id": 51,
                "cruise": 51
              },
              {
                "id": 52,
                "cruise": 52
              },
              {
                "id": 54,
                "cruise": 54
              },
              {
                "id": 56,
                "cruise": 56
              },
              {
                "id": 58,
                "cruise": 58
              },
              {
                "id": 61,
                "cruise": 61
              },
              {
                "id": 62,
                "cruise": 62
              },
              {
                "id": 63,
                "cruise": 63
              },
              {
                "id": 64,
                "cruise": 64
              },
              {
                "id": 67,
                "cruise": 67
              },
              {
                "id": 68,
                "cruise": 68
              },
              {
                "id": 69,
                "cruise": 69
              },
              {
                "id": 70,
                "cruise": 70
              },
              {
                "id": 72,
                "cruise": 72
              },
              {
                "id": 73,
                "cruise": 73
              },
              {
                "id": 75,
                "cruise": 75
              },
              {
                "id": 82,
                "cruise": 82
              },
              {
                "id": 83,
                "cruise": 83
              },
              {
                "id": 84,
                "cruise": 84
              },
              {
                "id": 85,
                "cruise": 85
              },
              {
                "id": 86,
                "cruise": 86
              },
              {
                "id": 87,
                "cruise": 87
              },
              {
                "id": 88,
                "cruise": 88
              },
              {
                "id": 96,
                "cruise": 96
              },
              {
                "id": 99,
                "cruise": 99
              },
              {
                "id": 101,
                "cruise": 101
              },
              {
                "id": 102,
                "cruise": 102
              },
              {
                "id": 106,
                "cruise": 106
              },
              {
                "id": 107,
                "cruise": 107
              },
              {
                "id": 108,
                "cruise": 108
              },
              {
                "id": 109,
                "cruise": 109
              },
              {
                "id": 110,
                "cruise": 110
              },
              {
                "id": 116,
                "cruise": 116
              },
              {
                "id": 118,
                "cruise": 118
              },
              {
                "id": 119,
                "cruise": 119
              },
              {
                "id": 121,
                "cruise": 121
              },
              {
                "id": 122,
                "cruise": 122
              },
              {
                "id": 123,
                "cruise": 123
              },
              {
                "id": 125,
                "cruise": 125
              },
              {
                "id": 126,
                "cruise": 126
              },
              {
                "id": 127,
                "cruise": 127
              },
              {
                "id": 128,
                "cruise": 128
              },
              {
                "id": 129,
                "cruise": 129
              },
              {
                "id": 130,
                "cruise": 130
              },
              {
                "id": 131,
                "cruise": 131
              },
              {
                "id": 132,
                "cruise": 132
              },
              {
                "id": 133,
                "cruise": 133
              },
              {
                "id": 134,
                "cruise": 134
              },
              {
                "id": 135,
                "cruise": 135
              },
              {
                "id": 139,
                "cruise": 139
              },
              {
                "id": 140,
                "cruise": 140
              },
              {
                "id": 141,
                "cruise": 141
              },
              {
                "id": 149,
                "cruise": 149
              },
              {
                "id": 159,
                "cruise": 159
              },
              {
                "id": 160,
                "cruise": 160
              },
              {
                "id": 164,
                "cruise": 164
              },
              {
                "id": 166,
                "cruise": 166
              },
              {
                "id": 167,
                "cruise": 167
              },
              {
                "id": 168,
                "cruise": 168
              },
              {
                "id": 171,
                "cruise": 171
              },
              {
                "id": 172,
                "cruise": 172
              },
              {
                "id": 173,
                "cruise": 173
              },
              {
                "id": 174,
                "cruise": 174
              },
              {
                "id": 175,
                "cruise": 175
              },
              {
                "id": 176,
                "cruise": 176
              },
              {
                "id": 177,
                "cruise": 177
              },
              {
                "id": 178,
                "cruise": 178
              },
              {
                "id": 179,
                "cruise": 179
              },
              {
                "id": 194,
                "cruise": 194
              },
              {
                "id": 195,
                "cruise": 195
              },
              {
                "id": 196,
                "cruise": 196
              },
              {
                "id": 197,
                "cruise": 197
              },
              {
                "id": 198,
                "cruise": 198
              },
              {
                "id": 199,
                "cruise": 199
              },
              {
                "id": 200,
                "cruise": 200
              },
              {
                "id": 201,
                "cruise": 201
              },
              {
                "id": 202,
                "cruise": 202
              },
              {
                "id": 203,
                "cruise": 203
              },
              {
                "id": 204,
                "cruise": 204
              },
              {
                "id": 205,
                "cruise": 205
              },
              {
                "id": 206,
                "cruise": 206
              },
              {
                "id": 207,
                "cruise": 207
              },
              {
                "id": 208,
                "cruise": 208
              },
              {
                "id": 209,
                "cruise": 209
              },
              {
                "id": 210,
                "cruise": 210
              },
              {
                "id": 211,
                "cruise": 211
              },
              {
                "id": 212,
                "cruise": 212
              },
              {
                "id": 217,
                "cruise": 217
              },
              {
                "id": 225,
                "cruise": 225
              },
              {
                "id": 228,
                "cruise": 228
              },
              {
                "id": 229,
                "cruise": 229
              },
              {
                "id": 230,
                "cruise": 230
              },
              {
                "id": 231,
                "cruise": 231
              },
              {
                "id": 232,
                "cruise": 232
              },
              {
                "id": 233,
                "cruise": 233
              },
              {
                "id": 234,
                "cruise": 234
              },
              {
                "id": 235,
                "cruise": 235
              },
              {
                "id": 243,
                "cruise": 243
              },
              {
                "id": 245,
                "cruise": 245
              },
              {
                "id": 246,
                "cruise": 246
              },
              {
                "id": 247,
                "cruise": 247
              },
              {
                "id": 248,
                "cruise": 248
              },
              {
                "id": 249,
                "cruise": 249
              },
              {
                "id": 250,
                "cruise": 250
              },
              {
                "id": 251,
                "cruise": 251
              },
              {
                "id": 252,
                "cruise": 252
              },
              {
                "id": 253,
                "cruise": 253
              },
              {
                "id": 254,
                "cruise": 254
              },
              {
                "id": 255,
                "cruise": 255
              },
              {
                "id": 256,
                "cruise": 256
              },
              {
                "id": 257,
                "cruise": 257
              },
              {
                "id": 258,
                "cruise": 258
              },
              {
                "id": 259,
                "cruise": 259
              },
              {
                "id": 260,
                "cruise": 260
              },
              {
                "id": 261,
                "cruise": 261
              },
              {
                "id": 262,
                "cruise": 262
              },
              {
                "id": 263,
                "cruise": 263
              },
              {
                "id": 264,
                "cruise": 264
              },
              {
                "id": 265,
                "cruise": 265
              },
              {
                "id": 266,
                "cruise": 266
              },
              {
                "id": 270,
                "cruise": 270
              },
              {
                "id": 272,
                "cruise": 272
              },
              {
                "id": 273,
                "cruise": 273
              },
              {
                "id": 277,
                "cruise": 277
              },
              {
                "id": 278,
                "cruise": 278
              },
              {
                "id": 279,
                "cruise": 279
              },
              {
                "id": 280,
                "cruise": 280
              },
              {
                "id": 284,
                "cruise": 284
              },
              {
                "id": 285,
                "cruise": 285
              },
              {
                "id": 286,
                "cruise": 286
              },
              {
                "id": 288,
                "cruise": 288
              },
              {
                "id": 291,
                "cruise": 291
              },
              {
                "id": 295,
                "cruise": 295
              },
              {
                "id": 296,
                "cruise": 296
              },
              {
                "id": 297,
                "cruise": 297
              },
              {
                "id": 300,
                "cruise": 300
              },
              {
                "id": 301,
                "cruise": 301
              },
              {
                "id": 302,
                "cruise": 302
              },
              {
                "id": 303,
                "cruise": 303
              },
              {
                "id": 304,
                "cruise": 304
              },
              {
                "id": 306,
                "cruise": 306
              },
              {
                "id": 307,
                "cruise": 307
              },
              {
                "id": 309,
                "cruise": 309
              },
              {
                "id": 310,
                "cruise": 310
              },
              {
                "id": 311,
                "cruise": 311
              },
              {
                "id": 313,
                "cruise": 313
              },
              {
                "id": 314,
                "cruise": 314
              },
              {
                "id": 316,
                "cruise": 316
              },
              {
                "id": 327,
                "cruise": 327
              },
              {
                "id": 329,
                "cruise": 329
              },
              {
                "id": 330,
                "cruise": 330
              },
              {
                "id": 331,
                "cruise": 331
              },
              {
                "id": 337,
                "cruise": 337
              },
              {
                "id": 338,
                "cruise": 338
              },
              {
                "id": 339,
                "cruise": 339
              },
              {
                "id": 341,
                "cruise": 341
              },
              {
                "id": 342,
                "cruise": 342
              },
              {
                "id": 343,
                "cruise": 343
              },
              {
                "id": 344,
                "cruise": 344
              },
              {
                "id": 345,
                "cruise": 345
              },
              {
                "id": 346,
                "cruise": 346
              },
              {
                "id": 347,
                "cruise": 347
              },
              {
                "id": 348,
                "cruise": 348
              },
              {
                "id": 349,
                "cruise": 349
              },
              {
                "id": 350,
                "cruise": 350
              },
              {
                "id": 352,
                "cruise": 352
              },
              {
                "id": 353,
                "cruise": 353
              },
              {
                "id": 354,
                "cruise": 354
              },
              {
                "id": 355,
                "cruise": 355
              },
              {
                "id": 356,
                "cruise": 356
              },
              {
                "id": 360,
                "cruise": 360
              },
              {
                "id": 361,
                "cruise": 361
              },
              {
                "id": 362,
                "cruise": 362
              },
              {
                "id": 363,
                "cruise": 363
              },
              {
                "id": 364,
                "cruise": 364
              },
              {
                "id": 367,
                "cruise": 367
              },
              {
                "id": 373,
                "cruise": 373
              },
              {
                "id": 374,
                "cruise": 374
              },
              {
                "id": 375,
                "cruise": 375
              },
              {
                "id": 376,
                "cruise": 376
              },
              {
                "id": 377,
                "cruise": 377
              },
              {
                "id": 378,
                "cruise": 378
              },
              {
                "id": 380,
                "cruise": 380
              },
              {
                "id": 381,
                "cruise": 381
              },
              {
                "id": 382,
                "cruise": 382
              },
              {
                "id": 383,
                "cruise": 383
              },
              {
                "id": 384,
                "cruise": 384
              },
              {
                "id": 385,
                "cruise": 385
              },
              {
                "id": 386,
                "cruise": 386
              },
              {
                "id": 387,
                "cruise": 387
              },
              {
                "id": 388,
                "cruise": 388
              },
              {
                "id": 391,
                "cruise": 391
              },
              {
                "id": 392,
                "cruise": 392
              },
              {
                "id": 393,
                "cruise": 393
              },
              {
                "id": 394,
                "cruise": 394
              },
              {
                "id": 395,
                "cruise": 395
              },
              {
                "id": 402,
                "cruise": 402
              },
              {
                "id": 403,
                "cruise": 403
              },
              {
                "id": 404,
                "cruise": 404
              },
              {
                "id": 405,
                "cruise": 405
              },
              {
                "id": 409,
                "cruise": 409
              },
              {
                "id": 426,
                "cruise": 426
              },
              {
                "id": 427,
                "cruise": 427
              },
              {
                "id": 428,
                "cruise": 428
              },
              {
                "id": 429,
                "cruise": 429
              },
              {
                "id": 430,
                "cruise": 430
              },
              {
                "id": 431,
                "cruise": 431
              },
              {
                "id": 432,
                "cruise": 432
              },
              {
                "id": 433,
                "cruise": 433
              },
              {
                "id": 434,
                "cruise": 434
              },
              {
                "id": 435,
                "cruise": 435
              },
              {
                "id": 436,
                "cruise": 436
              },
              {
                "id": 437,
                "cruise": 437
              },
              {
                "id": 438,
                "cruise": 438
              },
              {
                "id": 441,
                "cruise": 441
              },
              {
                "id": 448,
                "cruise": 448
              },
              {
                "id": 449,
                "cruise": 449
              },
              {
                "id": 450,
                "cruise": 450
              },
              {
                "id": 451,
                "cruise": 451
              },
              {
                "id": 452,
                "cruise": 452
              },
              {
                "id": 453,
                "cruise": 453
              },
              {
                "id": 454,
                "cruise": 454
              },
              {
                "id": 455,
                "cruise": 455
              },
              {
                "id": 456,
                "cruise": 456
              },
              {
                "id": 459,
                "cruise": 459
              },
              {
                "id": 461,
                "cruise": 461
              },
              {
                "id": 462,
                "cruise": 462
              },
              {
                "id": 464,
                "cruise": 464
              },
              {
                "id": 465,
                "cruise": 465
              },
              {
                "id": 466,
                "cruise": 466
              },
              {
                "id": 467,
                "cruise": 467
              },
              {
                "id": 469,
                "cruise": 469
              },
              {
                "id": 472,
                "cruise": 472
              },
              {
                "id": 474,
                "cruise": 474
              },
              {
                "id": 476,
                "cruise": 476
              },
              {
                "id": 477,
                "cruise": 477
              },
              {
                "id": 478,
                "cruise": 478
              },
              {
                "id": 479,
                "cruise": 479
              },
              {
                "id": 480,
                "cruise": 480
              },
              {
                "id": 481,
                "cruise": 481
              },
              {
                "id": 483,
                "cruise": 483
              },
              {
                "id": 484,
                "cruise": 484
              },
              {
                "id": 485,
                "cruise": 485
              },
              {
                "id": 486,
                "cruise": 486
              },
              {
                "id": 487,
                "cruise": 487
              },
              {
                "id": 488,
                "cruise": 488
              },
              {
                "id": 489,
                "cruise": 489
              },
              {
                "id": 490,
                "cruise": 490
              },
              {
                "id": 492,
                "cruise": 492
              },
              {
                "id": 493,
                "cruise": 493
              },
              {
                "id": 494,
                "cruise": 494
              },
              {
                "id": 495,
                "cruise": 495
              },
              {
                "id": 496,
                "cruise": 496
              },
              {
                "id": 497,
                "cruise": 497
              },
              {
                "id": 498,
                "cruise": 498
              },
              {
                "id": 499,
                "cruise": 499
              },
              {
                "id": 500,
                "cruise": 500
              },
              {
                "id": 501,
                "cruise": 501
              },
              {
                "id": 502,
                "cruise": 502
              },
              {
                "id": 503,
                "cruise": 503
              },
              {
                "id": 504,
                "cruise": 504
              },
              {
                "id": 505,
                "cruise": 505
              },
              {
                "id": 506,
                "cruise": 506
              },
              {
                "id": 507,
                "cruise": 507
              },
              {
                "id": 515,
                "cruise": 515
              },
              {
                "id": 517,
                "cruise": 517
              },
              {
                "id": 518,
                "cruise": 518
              },
              {
                "id": 520,
                "cruise": 520
              },
              {
                "id": 521,
                "cruise": 521
              },
              {
                "id": 522,
                "cruise": 522
              },
              {
                "id": 523,
                "cruise": 523
              },
              {
                "id": 552,
                "cruise": 552
              },
              {
                "id": 553,
                "cruise": 553
              },
              {
                "id": 554,
                "cruise": 554
              },
              {
                "id": 555,
                "cruise": 555
              },
              {
                "id": 556,
                "cruise": 556
              },
              {
                "id": 558,
                "cruise": 558
              },
              {
                "id": 559,
                "cruise": 559
              },
              {
                "id": 561,
                "cruise": 561
              },
              {
                "id": 562,
                "cruise": 562
              },
              {
                "id": 564,
                "cruise": 564
              },
              {
                "id": 565,
                "cruise": 565
              },
              {
                "id": 566,
                "cruise": 566
              },
              {
                "id": 567,
                "cruise": 567
              },
              {
                "id": 568,
                "cruise": 568
              },
              {
                "id": 590,
                "cruise": 590
              },
              {
                "id": 591,
                "cruise": 591
              },
              {
                "id": 592,
                "cruise": 592
              },
              {
                "id": 593,
                "cruise": 593
              },
              {
                "id": 594,
                "cruise": 594
              },
              {
                "id": 595,
                "cruise": 595
              },
              {
                "id": 596,
                "cruise": 596
              },
              {
                "id": 597,
                "cruise": 597
              },
              {
                "id": 598,
                "cruise": 598
              },
              {
                "id": 599,
                "cruise": 599
              },
              {
                "id": 600,
                "cruise": 600
              },
              {
                "id": 603,
                "cruise": 603
              },
              {
                "id": 604,
                "cruise": 604
              },
              {
                "id": 605,
                "cruise": 605
              },
              {
                "id": 606,
                "cruise": 606
              },
              {
                "id": 607,
                "cruise": 607
              },
              {
                "id": 608,
                "cruise": 608
              },
              {
                "id": 609,
                "cruise": 609
              },
              {
                "id": 610,
                "cruise": 610
              },
              {
                "id": 618,
                "cruise": 618
              },
              {
                "id": 623,
                "cruise": 623
              },
              {
                "id": 624,
                "cruise": 624
              },
              {
                "id": 626,
                "cruise": 626
              },
              {
                "id": 627,
                "cruise": 627
              },
              {
                "id": 628,
                "cruise": 628
              },
              {
                "id": 629,
                "cruise": 629
              },
              {
                "id": 630,
                "cruise": 630
              },
              {
                "id": 631,
                "cruise": 631
              },
              {
                "id": 632,
                "cruise": 632
              },
              {
                "id": 633,
                "cruise": 633
              },
              {
                "id": 634,
                "cruise": 634
              },
              {
                "id": 635,
                "cruise": 635
              },
              {
                "id": 641,
                "cruise": 641
              },
              {
                "id": 648,
                "cruise": 648
              },
              {
                "id": 649,
                "cruise": 649
              },
              {
                "id": 652,
                "cruise": 652
              },
              {
                "id": 653,
                "cruise": 653
              },
              {
                "id": 654,
                "cruise": 654
              },
              {
                "id": 656,
                "cruise": 656
              },
              {
                "id": 661,
                "cruise": 661
              },
              {
                "id": 662,
                "cruise": 662
              },
              {
                "id": 663,
                "cruise": 663
              },
              {
                "id": 664,
                "cruise": 664
              },
              {
                "id": 665,
                "cruise": 665
              },
              {
                "id": 666,
                "cruise": 666
              },
              {
                "id": 667,
                "cruise": 667
              },
              {
                "id": 669,
                "cruise": 669
              },
              {
                "id": 674,
                "cruise": 674
              },
              {
                "id": 675,
                "cruise": 675
              },
              {
                "id": 676,
                "cruise": 676
              },
              {
                "id": 680,
                "cruise": 680
              },
              {
                "id": 682,
                "cruise": 682
              },
              {
                "id": 683,
                "cruise": 683
              },
              {
                "id": 688,
                "cruise": 688
              },
              {
                "id": 693,
                "cruise": 693
              },
              {
                "id": 694,
                "cruise": 694
              },
              {
                "id": 695,
                "cruise": 695
              },
              {
                "id": 696,
                "cruise": 696
              },
              {
                "id": 697,
                "cruise": 697
              },
              {
                "id": 698,
                "cruise": 698
              },
              {
                "id": 699,
                "cruise": 699
              },
              {
                "id": 702,
                "cruise": 702
              },
              {
                "id": 703,
                "cruise": 703
              },
              {
                "id": 704,
                "cruise": 704
              },
              {
                "id": 706,
                "cruise": 706
              },
              {
                "id": 707,
                "cruise": 707
              },
              {
                "id": 708,
                "cruise": 708
              },
              {
                "id": 710,
                "cruise": 710
              },
              {
                "id": 711,
                "cruise": 711
              },
              {
                "id": 712,
                "cruise": 712
              },
              {
                "id": 716,
                "cruise": 716
              },
              {
                "id": 719,
                "cruise": 719
              }
            ];
            var $select = $('#cruise');

            $.each(temp, function(id, name) {
              $select.append('<option value=' + name.id + '>' + name.cruise + '</option>');
            });
          });

          const cruiseSelect = document.getElementById("cruise");
          cruiseSelect.addEventListener("change", async (e) => {
            if(cruiseSelect.value == "") {
              await chart1.setFilter({});
              await chart2.setFilter({});
              await chart3.setFilter({});
              await chart4.setFilter({});
              await chart5.setFilter({});
              await chart6.setFilter({});
            } else {
              const cruiseValue = parseInt(cruiseSelect.value);
              await chart1.setFilter({ cruise:cruiseValue });
              await chart2.setFilter({ cruise:cruiseValue });
              await chart3.setFilter({ cruise:cruiseValue });
              await chart4.setFilter({ cruise:cruiseValue });
              await chart5.setFilter({ cruise:cruiseValue });
              await chart6.setFilter({ cruise:cruiseValue });
            }
          });
        </script>
      </div>
    </section>
</body>
</html>
<script src="/js/main.js"></script>