<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/analyse.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://unpkg.com/@mongodb-js/charts-embed-dom@beta"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>Analyse</title>
</head>
<body>
    <%- include("../views/header"); %> 
    <%- include("../views/toolbar"); %>
    <section class="home-section">
        <!-- <div class="text">Buoy Viewer</div> -->
      <div class="filter_1">
        <div class="filter_2">
          <button class="button_1" id="Refresh">Refresh</button>
          <div class="cruise">
            <p>Cruise:</p>
            <select class="button_2" name="cruise" id="cruise"></select>
          </div>
        </div>
      </div>
      <div class="representation_1">
        <div id="chart1" class="chart1"></div>
        <div id="chart2" class="chart2"></div> 
      </div>
      <div class="representation_2">
        <div id="chart3" class="chart3"></div>
        <div id="chart4" class="chart4"></div>
        
      </div>
      <div class="representation_3">
        <div id="chart6" class="chart6"></div>
      </div>
    </section>
</body>
</html>
<script src="/js/analyse.js"></script>
<script src="/js/main.js"></script>
<!-- <div id="chart5"></div>  -->