<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <header>
        <div class="title">
            <a href="/">
                <h1 class="text">Buoy Viewer</h1>
                <i id = 'logo' class='bx bxs-map-pin'></i>
            </a>
        </div>
        <div class="account">
            <button onclick="window.location.href='/login'" class="button">Login</button>
            <button onclick="window.location.href='/signin'"class="button">Signin</button>
        </div>
    </header>
</body>
</html>