<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/css/login.css">
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <div class="header">
                    <a href="/">
                      <i id = 'logo' class='bx bxs-map-pin'></i>
                    </a>
                </div>
                <div class="title_web">
                    <h1>Bouy Viewer</h1>
                </div>
                <div class="title">Login</div>
                <form action="#">
                    <div class="field input-field">
                        <input type="email" placeholder="Username" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field button-field">
                        <button>Login</button>
                    </div>
                </form>
                <div class="account">
                    <a href="/signin">Create an account</a>
                </div>
                <div class="back">
                    <a href="javascript:history.go(-1)">
                        <i class='bx bx-left-arrow'></i>
                        <p>Back</p>
                    </a>
                </div>
                <div class="home">
                    <a href="/">
                      <i class='bx bx-home-alt-2'></i>
                      <p>Home</p>
                    </a>
                  </div>
            </div>
        </div>
    </section>
</body>
</html>
<script src="/js/login.js"></script>