<html>
  <head>
     <script src="https://unpkg.com/@mongodb-js/charts-embed-dom@beta"></script>
  </head>
  <style>
    #chart1 {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }

    #chart2 {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }

    #chart3 {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }

    #chart4 {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
    }
  </style>
  <body>
    <div id="chart1"></div>
    <div id="chart2"></div>
    <div id="chart3"></div>
    <div id="chart4"></div>

    <button onclick="refresh()">Refresh</button>
    <button onclick="filter()">Only in USA</button>
    <!--
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-mongodb-gtywi/embed/charts?id=7f535ee7-2074-4350-9f94-237277b94391&theme=light"></iframe>
    -->
    <script>
      const sdk1 = new ChartsEmbedSDK({
        baseUrl: 'https://charts.mongodb.com/charts-project-0-dvilj',
        showAttribution: false
      });

      const chart1 = sdk1.createChart({ chartId: '63badecc-fc32-4c75-861b-427c592c698d' });
      chart1.render(document.getElementById('chart1'));

      const sdk2 = new ChartsEmbedSDK({
        baseUrl: 'https://charts.mongodb.com/charts-project-0-dvilj',
        showAttribution: false
      });

      const chart2 = sdk2.createChart({ chartId: '63badeec-27ef-4133-847b-df6e0f0c21d1' });
      chart2.render(document.getElementById('chart2'));

      const sdk3 = new ChartsEmbedSDK({
        baseUrl: 'https://charts.mongodb.com/charts-project-0-dvilj',
        showAttribution: false
      });

      const chart3 = sdk3.createChart({ chartId: '63bae083-afae-4d0e-8746-43218a1ced6b' });
      chart3.render(document.getElementById('chart3'));

      const sdk4 = new ChartsEmbedSDK({
        baseUrl: 'https://charts.mongodb.com/charts-project-0-dvilj',
        showAttribution: false
      });

      const chart4 = sdk4.createChart({ chartId: '63bae0ac-fc32-472d-8315-427c592dacca' });
      chart4.render(document.getElementById('chart4'));

      function refresh(){
        chart1.refresh();
      }

      function filter(){
        chart1.setFilter({"buoys.cruise": 7})
      }
    </script>
  </body>
</html>