<div class="sidebar">
  <div class="logo-details">
      <div class="logo_name">Menu</div>
      <i class='bx bx-compass' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/">
        <i class='bx bx-home-alt-2'></i>
        <span class="links_name">Home</span>
      </a>
    </li>
    <li>
      <a href="/map">
        <i class='bx bx-map-alt'></i>
        <span class="links_name">Map</span>
      </a>
    </li>
    <li>
      <a href="/analyse">
        <i class='bx bx-bar-chart-square'></i>
        <span class="links_name">Analyse</span>
      </a>
    </li>
    <li>
      <div></div>
    </li>
    <li>
      <a href="/about">
        <i class='bx bxs-user'></i>
        <span class="links_name">About us</span>
      </a>
    </li>
    <li>
      <a href="mailto:marcarsufu@gmail.com">
        <i class='bx bx-envelope'></i>
        <span class="links_name">Contact us</span>
      </a>
    </li>
  </ul>
</div>